* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    display: flex;
}

.left-section {
    width: 120px;
    background: #222;
    border-radius: 15px 0 0 15px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    overflow: auto;
}

.right-section {
    margin-left: 120px;
    /* Prevent overlap */
    width: calc(100% - 120px);
    /* Take remaining width */
    background: #000;
}

.menu-container ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.r-xxlarge {
    color: #fff;
    font-size: 5rem;
}

.r-home {
    color: #fff;
    transition: color 0.3s ease;
}

.r-home:hover {
    color: gray;
}

.menu-container ul img {
    display: inline-block;
    width: 120px;
    height: 100%;
}

.menu-container ul li p {
    color: #fff;
    font-size: 1rem;
}

.menu-container ul li {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.menu-container ul li:hover {
    background: #000;
    width: 100%;
}

/* right section css START */

.header {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    gap: 20px;
}

.header p:first-of-type {
    font-size: 4rem;
}

.header p:nth-of-type(2) {
    font-size: 1.5rem;
}

.right-section-container {
    padding: 30px;
}

.my-name-contianer {
    color: #fff;
    font-weight: 100;
}

.about-me {
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 1px;
    color: #ccc;
}

.marign-10 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.my-name {
    padding: 0 150px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.name {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.divider {
    border-bottom: 1px solid;
    width: 20%;
}

.photography .white-div {
    background: #fff;
}

.photography .gray-div {
    height: 28px;
    background: #616161 !important;
}

.photography {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #757575 !important;
    letter-spacing: 4px;
}

.progress-bar-95 {
    width: 95%;
}

.progress-bar-75 {
    width: 75%;
}

.progress-bar-65 {
    width: 65%;
}

.client-repo {
    display: flex;
    background: #ccc;
    color: #000;
    padding: 10px 0;
    justify-content: space-around;
    font-size: 2rem;
    margin: 15px 0;
}

.pertners {
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.download-button button {
    color: #000;
    background: #ccc;
    border: none;
    padding: 15px 10px;
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
}

.plan {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-evenly;
}

.basic {
    flex-basis: 100%;
    color: #000 !important;
    background-color: #fff !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    opacity: 0.60;
}

.name-tag {
    font-size: 2rem;
}

.plan .basic ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.plan .basic ul li:first-of-type {
    padding: 30px 0;
    font-size: 2rem;
    background: #616161 !important;
    color: #fff;
}

.plan .basic ul li {
    font-size: 1rem;
    font-weight: 100;
    border-bottom: 1px solid #ddd;
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

.plan .basic ul li:nth-child(6) {
    padding: 30px 0;
}

.plan .basic ul li:last-child {
    padding: 30px 0;
    background: #f1f1f1 !important;
    color: #000;
}

.web-design span {
    font-size: 2rem;
}

.basic-footer button {
    color: #000;
    background: #fff;
    border: none;
    padding: 15px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.basic-footer button:hover {
    color: #fff;
    background: #000;
    cursor: pointer;
}

.plan .basic:hover {
    opacity: 1;
    background: #fff;
    cursor: pointer;
}

.repo-img-sec {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.img-sec img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.about-sec {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: baseline;
    gap: 10px;
    color: #757575 !important;
}

.mr-t-100 {
    margin-top: 100px;
}

.mr-t-50 {
    margin-top: 50px;
}


.row {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 25%;
    /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.location-cl {
    display: flex;
    gap: 10px;
    align-items: center;
}

.location-cl i {
    font-size: 2rem;
}

.location-cl p {
    font-size: 1.2rem;
    color: #757575;
}

.contact-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-wrapper input {
    padding: 16px 12px;
    border: none;
    display: block;
    border-bottom: 1px solid #ccc;
    width: 100%;
}

.w3-medium a {
    color: #757575;
}

.w3-medium a:hover {
    color: #4CAF50 !important
}

.w3-content {
    font-size: 2rem;
}

.mr-b-50 {
    margin-bottom: 50px;
}